<!---->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar sid collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/home">
          <i class=""></i>
          Dashboard
        </a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stops">
          <i class=""></i>
          Stops
        </a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sequences">
          <i class=""></i>
          Paths
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/routes">
          <i class=""></i>
          Routes
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/login">
          <i class=""></i>
          Logout
        </a>
      </li>

    </ul>
  </div>
</nav>